<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserInfoDao">

<!--  根据用户名查询用户  -->
    <select id="findByUserName" parameterType="string" resultType="User" >
        select userId, userName, passWord, KouShinSha, KouShinHiDuke,
               SakuSeiSha, SakuSeiHiDuke, DelFlag, Status, mailAddress from USER_TABLE
        where userName = #{U_Name}
    </select>


    <insert id="save" parameterType="User" useGeneratedKeys="true">
        insert into USER_TABLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="UserId != null">userId,</if>
            <if test="UName != null">userName,</if>
            <if test="UPassword != null">passWord,</if>
            <if test="KouShinSha != null">KOUSHIN_SHA,</if>
            <if test="KouShinHiDuke != null">KOUSHIN_HIDUKE,</if>
            <if test="SakuSeiSha != null">SAKUSEI_SHA,</if>
            <if test="SakuSeiHiDuke != null">SAKUSEI_HIDUKE,</if>
            <if test="DelFlag != null">DEL_FLAG,</if>
            <if test="Status != null">STATUS,</if>
            <if test="Mail != null">mailAddress,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="UserId != null">#{UserId},</if>
            <if test="UName != null">#{UName},</if>
            <if test="UPassword != null">#{UPassword},</if>
            <if test="KouShinSha != null">#{KouShinSha},</if>
            <if test="KouShinHiDuke != null">#{KouShinHiDuke},</if>
            <if test="SakuSeiSha != null">#{SakuSeiSha},</if>
            <if test="SakuSeiHiDuke != null">#{SakuSeiHiDuke},</if>
            <if test="DelFlag != null">#{DelFlag},</if>
            <if test="Status != null">#{Status},</if>
            <if test="Mail != null">#{Mail},</if>
        </trim>
    </insert>

</mapper>
