<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.JohoListDao">
    <resultMap id="kyushokuListResult" type="com.example.entity.Kyushoku">
        <result column="KS_ID" property="KSId"/>
        <result column="KOJIN_ID" property="kojinId"/>
        <result column="YAKUSHOKU_NAME" property="yakuShokuName"/>
        <result column="YAKUSHOKU_SHIMEI" property="yakuShokuShimei"/>
        <result column="YAKUSHOKU_WORK" property="kiboShokuGyo"/>
        <result column="KYOYU" property="kyoyu"/>
        <result column="JUSHO1" property="jusho1"/>
        <result column="JUSHO2" property="jusho2"/>
        <result column="JUSHO3" property="jusho3"/>
        <result column="TELE" property="tele"/>
        <result column="MAIL" property="mail"/>
        <result column="BIKO" property="biko"/>
        <result column="KOUSHIN_SHA" property="kouShinSha"/>
        <result column="KOUSHIN_HIDUKE" property="kouShinHiDuke"/>
        <result column="SAKUSEI_SHA" property="sakuSeiSha"/>
        <result column="SAKUSEI_HIDUKE" property="sakuSeiHiDuke"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="STATUS" property="status"/>
    </resultMap>
    <!--  查询求职详细信息  -->
    <select id="kyushokuList" resultMap="kyushokuListResult"  >
        select KS_ID, KOJIN_ID, YAKUSHOKU_NAME,YAKUSHOKU_SHIMEI, YAKUSHOKU_WORK, KYOYU,
               JUSHO1, JUSHO2, JUSHO3, TELE, MAIL, BIKO, KOUSHIN_SHA, KOUSHIN_HIDUKE,
               SAKUSEI_SHA, SAKUSEI_HIDUKE, DEL_FLAG, STATUS
        from KYUSHOKU_TABLE
    </select>

    <!--  追加kojin  -->
    <insert id="addKojin" parameterType="Kojin" useGeneratedKeys="true" >
        <selectKey resultType="java.lang.Integer" keyProperty="KojinId" order="AFTER" >
            select S_KOJIN.currval AS KojinId from dual
        </selectKey>
        insert into KOJIN_TABLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="KojinId != null">KOJIN_ID,</if>
            <if test="ShimeKanJi != null">SHIMEI_KANJI,</if>
            <if test="RireKisu != null">RIREKI_SU,</if>
            <if test="KouShiNsha != null">KOUSHIN_SHA,</if>
            <if test="KoushinHiduke != null">KOUSHIN_HIDUKE,</if>
            <if test="SakuseiSha != null">SAKUSEI_SHA,</if>
            <if test="SakuseiHiduke != null">SAKUSEI_HIDUKE,</if>
            <if test="DelFlag != null">DEL_FLAG,</if>
            <if test="Status != null">STATUS,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="KojinId != null">#{KojinId},</if>
            <if test="ShimeKanJi != null">#{ShimeKanJi},</if>
            <if test="RireKisu != null">#{RireKisu},</if>
            <if test="KouShiNsha != null">#{KouShiNsha},</if>
            <if test="KoushinHiduke != null">#{KoushinHiduke},</if>
            <if test="SakuseiSha != null">#{SakuseiSha},</if>
            <if test="SakuseiHiduke != null">#{SakuseiHiduke},</if>
            <if test="DelFlag != null">#{DelFlag},</if>
            <if test="Status != null">#{Status},</if>
        </trim>
    </insert>
    <!--  追加kyushoku  -->
    <insert id="addKyuShoku" parameterType="Kyushoku" useGeneratedKeys="true" >
        <selectKey resultType="java.lang.Integer" keyProperty="KSId" order="AFTER" >
            select S_KYUSHOKU.currval AS KSId from dual
        </selectKey>
        insert into KYUSHOKU_TABLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="KSId != null">KS_ID,</if>
            <if test="KojinId != null">KOJIN_ID,</if>
            <if test="YakuShokuName != null">YAKUSHOKU_NAME,</if>
            <if test="YakuShokuShimei != null">YAKUSHOKU_SHIMEI,</if>
            <if test="KiboShokuGyo != null">YAKUSHOKU_WORK,</if>
            <if test="Kyoyu != null">KYOYU,</if>
            <if test="Jusho1 != null">JUSHO1,</if>
            <if test="Jusho2 != null">JUSHO2,</if>
            <if test="Jusho3 != null">JUSHO3,</if>
            <if test="Tele != null">TELE,</if>
            <if test="Mail != null">MAIL,</if>
            <if test="Biko != null">BIKO,</if>
            <if test="KouShinSha != null">KOUSHIN_SHA,</if>
            <if test="KouShinHiDuke != null">KOUSHIN_HIDUKE,</if>
            <if test="SakuSeiSha != null">SAKUSEI_SHA,</if>
            <if test="SakuSeiHiDuke != null">SAKUSEI_HIDUKE,</if>
            <if test="DelFlag != null">DEL_FLAG,</if>
            <if test="Status != null">STATUS,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="KSId != null">#{KSId},</if>
            <if test="KojinId != null">#{KojinId},</if>
            <if test="YakuShokuName != null">#{YakuShokuName},</if>
            <if test="YakuShokuShimei != null">#{YakuShokuShimei},</if>
            <if test="KiboShokuGyo != null">#{KiboShokuGyo},</if>
            <if test="Kyoyu != null">#{Kyoyu},</if>
            <if test="Jusho1 != null">#{Jusho1},</if>
            <if test="Jusho2 != null">#{Jusho2},</if>
            <if test="Jusho3 != null">#{Jusho3},</if>
            <if test="Tele != null">#{Tele},</if>
            <if test="Mail != null">#{Mail},</if>
            <if test="Biko != null">#{Biko},</if>
            <if test="KouShinSha != null">#{KouShinSha},</if>
            <if test="KouShinHiDuke != null">#{KouShinHiDuke},</if>
            <if test="SakuSeiSha != null">#{SakuSeiSha},</if>
            <if test="SakuSeiHiDuke != null">#{SakuSeiHiDuke},</if>
            <if test="DelFlag != null">#{DelFlag},</if>
            <if test="Status != null">#{Status},</if>
        </trim>
    </insert>

    <!--  根据id查询详细信息  -->
    <select id="idByKyushoku" parameterType="Integer" resultMap="kyushokuListResult">
        select KS_ID, KOJIN_ID, SHIMEI_KANJI, YAKUSHOKU_NAME,YAKUSHOKU_SHIMEI， YAKUSHOKU_WORK, KYOYU,
               JUSHO1, JUSHO2, JUSHO3, TELE, MAIL, BIKO, KOUSHIN_SHA, KOUSHIN_HIDUKE,
               SAKUSEI_SHA, SAKUSEI_HIDUKE, DEL_FLAG, STATUS
        from KYUSHOKU_TABLE
        where KS_ID = #{KSId}
    </select>
</mapper>
